<footer class="footer">
<h3>Follow Me:</h3>
<ul class="footer-social">
<li class="social-link"><a class="footer-social"
  href="https://www.facebook.com/nathan.grabner" target="_blank">Facebook</a></li>
<li class="social-link"><a class="footer-social"
  href="https://twitter.com/NateGrabner" target="_blank">Twitter</a></li>
<li class="social-link"><a class="footer-social"
  href="https://www.instagram.com/haveanateday/?hl=en" target="_blank">Instagram</a></li>
<li class="social-link"><a class="footer-social"
  href="https://www.linkedin.com/in/ngrabner/" target="_blank">LinkedIn</a></li>
</ul>
<a id="footer-to-top">︿</a>
<p class=copyright>Created by Nate Grabner, 2019</p>
</footer>
