<head>
  {% if page.title %}
    <title>{{ page.title }} | Nate Grabner</title>
  {% else %}
    <title>Nate Grabner</title>
  {% endif %}
  {% if page.description %}
  <meta name="description" content={{ page.description }}>
  {% else %}
  <meta name="description" content="This is Nate Grabner's personal site">
  {% endif %}
  <!-- <div id="loadOverlay"
  style="background-color:#333;position:absolute; top:0px; left:0px; width:100%; height:100%; z-index:2000;">
  </div> -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/fonts/fontawesome/css/all.css">
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/main.css">
  <!--Fancy Box Style Sheets -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.6/jquery.fancybox.min.css" />
  <!--End Fancy Box -->
  <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<!--Fancy Box Style Sheets -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.6/jquery.fancybox.min.js"></script>
<!--End Fancy Box -->
  <script src="/js/home.js"></script>
  <script>
    $(window).load(function(){
        $('body').addClass('loaded');
    })
    </script>
  </head>
